.up{
	background-color: #00CACA;
	height: 500px;
	width: 1000px
}
a{
	font-size: 80px;
	color: white;
}
img{
    text-align: center;
	margin-top: 200px;  
    border-radius:400px;
	position: absolute;
	right: 290px;
	top: 70px;

}
img{
	position: absolute;
	width: 10px;
	height: 10px;
}
.box1{
border-left:1px solid white;
border-right:1px solid black;
border-bottom:1px solid white;
float:left ;    
 border:1px solid black;
 background-color: white;
 width:330px;height=100px;}
 .box2{
border-left:1px solid white;
border-right:1px solid black;
border-bottom:1px solid white;
float:left ;    
 border:1px solid black;
 background-color: white;
 width:330px;height=100px;}
 .box3{
border-left:1px solid white;
border-right:1px solid white;
border-bottom:1px solid white;
float:left ;    
 border:1px solid black;
 background-color: white;
 width:330px;height=100px;}
 body{font-family:"Microsoft Yahei";}
 p{
 	font-size:25px;color:gray;
 	font-weight:bold;
 		text-align:center;
 }
